.container{
    max-width:1140px;
    margin: 0 auto;  
    padding: 0px 15px;
}
body{
    background-color:#0A142F;
}
html{
    scroll-behavior: smooth;
}
@media (max-with:1140px){
    .container{
        max-width: 970px;
    }
}
@media (max-with:992px){
    .container{
        max-width: 750px;
    }
}
@media (max-with:767px){
    .container{
        max-width: none;
    }
} 
