.container {
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
.main-navigation {
    &__link {
        text-decoration: none;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        margin-right: 1.5rem;
    }
    &__link:hover {
        color: #FFC93E;
        font-size: 23px;
    }
}
.header-menu {
    &__icon {
        cursor: pointer;
    }    
}
@media (max-width: 450px){
    .main-navigation__link  {
        display: none;
    }       
}


