%button{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #0A142F;
    padding: 15px 20px;
    background: #FFC93E;
    border-radius: 30px;
    border: #FFC93E;
    cursor: pointer;
}