.agency {

    &__title {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 120px;
        line-height: 100px;
        text-align: center;
        color: #FFFFFF;
        margin: 0px 0px 0px 80px;
    }
    .agency {
        position: relative;
        left: 50px;
        top: 20px;
    }
    .digital {
        position: relative;
        left: -200px;
    }

    &__subtitle {
        margin: 50px 0px 0px 140px;
        max-width: 480px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        text-align: left;
        color: #E0E5F3;
    }

    &__button {
        padding: 15px 20px;
        margin-left: -255px;
    }
    &__button:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
      }

    &__picture-1 {
        float: right;
        margin: 2rem 0rem 0rem 0rem;
        max-width: 466px;
        max-height: 475px;
        background: url(.jpg), #000000;
        border-radius: 50px;
    }

    &__picture-2 {
        float: left;
        margin: 65px 0px 0px -130px;
        max-width: 241px;
        max-height: 307px;
        background: url(.jpg), #000000;
        border-radius: 30px;
    }
}
.container {
    &__information {
        display: flex;
        flex-direction: column;
       
    }
}
.background {
    &__text-word {
        position: relative;
        left: -200px;
        top: 30px;
        cursor: pointer;
    }
}
.title {
    &__mobile {
        display: none;
    }
}

@media (max-width: 770px){
    .agency__title{
        font-size: 90px;
    }
    .agency__picture-1 {
        max-width: 400px;
        max-height: 455px;
    }
    .background__text-word {
        display: none;
    }
}

@media (max-width: 450px){
     .agency__title{position: relative;
        left: 50px;
        font-size: 70px;
     } 
	.title__mobile {
            font-size: 70px;
		}

    .agency__subtitle{
        position: relative;
        top: -320px;
        left: -250px;
        width: 300px;
        font-size: 18px; 
    }
    .agency__button {
        position: relative;
        top: -540px;
        left: -60px;
        font-size: 18px;
        padding: 15px 10px;
        cursor: pointer;
    }
    .agency__button :hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
      }
    .agency__picture-1{
        position: relative;
        top: 250px;
        left:-120px;
        float: none;
        max-width: 327px;
        max-height: 305px;
      
    }
    .agency__picture-2{
        position: relative;
        float: none;
        top: 50px ;
        left: -140px;
        width: 157px;
        height: 200px;
  }
     .background__text-word{
        display: none;
    }
    .container__information {
        display: flex;
        flex-direction: column;
       
    }
}
