.comments {

    // .comments__title

    &__title {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 48px;
        color: #FFFFFF;
        margin: 5rem 0rem 0rem 2rem;
    }

    // .comments__block

    &__block {
        background: #353F5B;
        border-radius: 50px;
        margin: 2rem 1rem;
        padding: 2rem 2rem;
    }
}
.block {

    // .block__comments

    &__comments {
        display: flex;
        flex-direction: row;   
    }

    // .block__quotes

    &__quotes {
        max-width: 62px;
        opacity:calc(0.2);
    }

    // .block__user

    &__user {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.content {

    // .content__text

    &__text {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: #E0E5F3;
            margin: 1.5rem 0rem ;
    }
}
.user {

    // .user__name

    &__name {
       display: flex;
       flex-direction: column;
       margin: 1rem 8rem 0rem 0.5rem;

    }
    // .user__sky

    &__sky {
        margin-top: 1.8rem;
    }
}

.comentator {

		// .comentator__name

		&__name { 
            font-family: 'Inter';
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;  
		}

		// .comentator__profrssion

		&__profrssion {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 16px;
            color: #FFC93E;

		}
}