.comments {

    &__title {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 48px;
        color: #FFFFFF;
        margin: 5rem 0rem 0rem 2rem;
    }

    &__block {
        background: #353F5B;
        border-radius: 50px;
        margin: 2rem 1rem;
        padding: 2rem 2rem;
        box-sizing: border-box; 
    }
}
.block {

    &__comments {
        display: flex;
    }

    &__quotes {
        max-width: 62px;
        opacity:calc(0.2);
    }

    &__user {
        display: flex;
        flex-direction: row;
    }
}
.content {

    &__text {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: #E0E5F3;
            margin: 1.5rem 0rem ;
    }
}
.user {

    &__name {
       display: flex;
       flex-direction: column;
       margin: 1rem 8rem 0rem 0.5rem;

    }
    &__sky {
        margin-top: 1.8rem;
    }
}

.comentator {

		&__name { 
            font-family: 'Inter';
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;  
		}

		&__profrssion {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 16px;
            color: #FFC93E;

		}
}
@media (max-width: 770px){
    .block__comments {
        flex-direction: column;
    }    
}
@media (max-width: 450px){
    .block__comments {
        flex-direction: column;
    }    
    .content__text{
        font-size: 16px;
    }
    .block__user{
        width: 100px;
    }
    .user__sky{
       display: none;
    }
}