.creative {

    &__button {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #0A142F;
        padding: 15px 20px;
        background: #FFC93E;
        border-radius: 30px;
        margin-top: 3rem;
        border: #FFC93E;
        cursor: pointer;
    }
    &__button:hover {
        padding: 20px 25px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 150, .2);
    }

    &__picture-1 {
        max-width: 264px;
        margin-bottom: 1.5rem;
        
    }
    &__picture-2 {
        max-width: 220px;
        margin-left: 2.8rem;
    }
    &__picture-3 {
        max-width: 220px;
        margin-bottom: 1.5rem;
        margin-top: 4rem;
    }
    &__picture-4 {
        max-width: 264px;        
    }
}
.picture {

    &__first-column {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
    }
}
.creative {

    &__second-column {
        display: flex;
        flex-direction: column;
    }
}
.creative {

    &__picture {
        display: flex;
        flex-direction: row;
    }
}
.container {

    &__hero {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
}
.crative {

    &__information {
        margin: 2rem 0rem 0rem 3rem;
    }
}
.crative {

    &__title {
        margin-bottom: 2.5rem;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 48px;
        text-transform: capitalize;
        color: #FFFFFF;
    }
}
.cretive {

    &__subtitle {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #E0E5F3;
        max-width: 90%;
    }
}
@media (max-width: 770px){
    .container__hero {
        margin: 50px;
        flex-direction: column;
    }
    .creative__button{
        margin-bottom: 30px;
    }
}
@media (max-width: 450px){
    .container__hero {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .creative__picture-1 {
        width: 140px;
        margin-bottom: 0.3rem;
        margin-left: 25px;
    }
    .creative__picture-2 {
        max-width: 120px;

    }
    .creative__picture-3{
        max-width: 120px;
        margin-bottom: 0.3rem;
    }
    .creative__picture-4 {
        max-width: 140px;
        
    }
    .picture__first-column {
        justify-content: flex-start;
        margin-right: 0.3rem;
        margin-top: 40px;
    }
    .creative__second-column{
        display: flex;
        flex-direction: column;
    }
}