.projects {
    
        &__button {
            display: flex;
            background: transparent;
            border-radius: 30px;
            border: 1px solid white;
            padding: 10px 20px;
            margin: 2rem auto;
            cursor: pointer;
            color: #FFFFFF;
            }
            &__button:hover{
            background-color: #FFC93E;
            color: #0A142F;
            border: 1px solid #FFC93E;
            }
}
.navigation {

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__information {
        display: flex;
        flex-direction: row;
    }
}
.title {

    &__name {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        color: #FFFFFF;
        margin: 5rem 0rem 2rem 0rem;
    }
}
.project {

    &__navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-items: center;
        margin: 0rem 17rem;
        
    }
}
.project-navigation {

    &__link {
        text-decoration: none;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
    }
    &__link:hover {
        color: #FFC93E;
    }
}
.information {    

    &__check {
        display: flex;
        flex-direction: column;
    }

    &__link {
        margin: 2rem auto;
        max-width: 554px;
        max-height: 550px;
    }

    &__title {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
        margin-left: 2rem;
    }

    &__subtitle {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #E0E5F3;
        margin: 1rem 0rem 0rem 2rem;
        max-width: 553px;
    }
}
@media (max-width: 770px){
    .navigation__information {
        flex-direction: column;
    } 
     .information__check{
        margin: 0 auto;
     }
     .project__navigation {
        margin: 0px 5px;
        
    }
    .project-navigation__link {
        font-size: 20px;
    }
}

@media (max-width: 450px){
    .navigation__information {
        flex-direction: column;
    }
    .information__link {
        max-width: 300px;
    }
    .information__title {
        font-size: 18px;
    }
    .information__subtitle{
        line-height: 20px;
        font-size: 16px;
    }
    .project__navigation {
        margin: 0px 10px;
        
    }
    .project-navigation__link {
        font-size: 10px;
    }
}

